@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-inter: var(--font-inter)
}

@theme{
  --color-main:#0F9918;
  --color-accent:#CFEBD1;
  --color-accent-light:#E7FFEE;
  --color-accent-white:#F5F6F7;
  --color-accent-gray:#D9D9D9;
  --color-text:#42526B;
  --color-text-gray900:#061C3D;
  --color-text-gray700:#42526B;
  --color-icon-bg:#F0F5FF

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.skewer {
  /* background-color: #2AD1AA; */
  clip-path: polygon(0  0%, 100% 0, 100% 50%, 0 100%);
  width: 100%;
}


@media (max-width: 768px) {
  .skewer {
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
    width: 100%;
  }
}
